<h1>Ganaste!</h1>
<img class="victoria" src="/img/victoria.gif" alt="victoria" width="50%" height="480px">
<p><a href= '@Url.Action("JugarAhorcado", "Home")'> <input type = "button" value = "Volver a jugar"></a></p>



