<div>
    <h1>Ahorcado</h1>
    <p>Bienvenido/a al ahorcado de GamesFun<br><br>
    <a href= '@Url.Action("JugarAhorcado", "Home")'> <input type = "button" value = "Jugar Ahorcado"></a>
    <a href= '@Url.Action("Reglas", "Home")'> <input type = "button" value = "Reglas"></a></p>
</div>
