<form action='@Url.Action("CompararCaracter", "Home")' method="POST" enctype="multipart/form-data">
<p><input type= "text" name= "letra" placeholder= "Ingrese una letra"> 
<input type= "submit" value= "Enviar respuesta"></p>
</form> 
<form>
<p><input type= "text" name= "palabra" placeholder= "Ingrese una palabra"> <input type= "submit" value= "Enviar respuesta"></p>
</form> 
@ViewBag.palabraParcial