<p><input type= "text" name= "answer" placeholder= "Ingrese una letra"> <input type= "submit" value= "Enviar respuesta"></p> 
<p><input type= "text" name= "answer" placeholder= "Ingrese una palabra"> <input type= "submit" value= "Enviar respuesta"></p>
@ViewBag.palabra.Texto
@for(int i = 0; i < ViewBag.palabra.Texto.Length; i++)
{
    if(true)
    {

    }
    else{
        @:_
    }
}