<h1>Perdiste!</h1> 
<h1>La palabra era: @ViewBag.palabra.ToUpper()</h1>
<p><a href= '@Url.Action("JugarAhorcado", "Home")'> <input type = "button" value = "Volver a jugar"></a></p>
<!-- ChatGPT --> <h2><pre>  +---+
  |   |
  O   |
 /|\  |
 / \  |
      |
 =========</pre></h2> 