<p><a href= '@Url.Action("Index", "Home")'> <input type = "button" value = "Volver al Menú"></a></p>
<h1>Reglas del Juego: Ahorcado</h1>
  <ul>
    <li><strong>Objetivo:</strong> Adivinar la palabra secreta antes de agotar los intentos disponibles.</li>
    <li><strong>Intentos permitidos:</strong> Máximo <strong>6 errores al adivinar letras</strong>. Si se agotan, perdés.</li>
    <li><strong>Arriesgar la palabra completa:</strong> Si te equivocás al adivinar la palabra entera, <strong>perdés automáticamente</strong>, sin importar cuántos intentos te queden.</li>
    <li><strong>Letras repetidas:</strong> No descuentan intentos, pero tampoco se aceptan como jugada válida.</li>
    <li><strong>Victoria:</strong> Ganás si completás la palabra antes de los 6 errores o si adivinás bien la palabra entera en cualquier momento.</li>
  </ul>